@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-white; 
  }
}

@layer components {
  .btn-custom {
    @apply bg-custom-gold text-black px-5 py-2.5 m-1.5 cursor-pointer font-sans rounded-md 
           shadow-[0_4px_0_0_rgba(0,0,0,0.3)] hover:shadow-[0_2px_0_0_rgba(0,0,0,0.3)]
           hover:bg-white hover:text-custom-gold transition-all duration-300
           hover:text-[1.05em]  hover:translate-y-[2px];
  }

  .btn-retro {
    @apply bg-green-700 text-green-300 px-4 py-2 m-1 cursor-pointer font-pixelify rounded
           border-2 border-green-500 hover:bg-green-600 transition-all duration-300
           shadow-[0_4px_0_0_rgba(0,0,0,0.3)] hover:shadow-[0_2px_0_0_rgba(0,0,0,0.3)]
           hover:translate-y-[2px];
  }
}

@layer utilities {
  .content-wrapper {
    @apply w-[90%] max-w-[800px] mx-auto my-5;
  }
}

@keyframes sparkle {
  20%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.group:hover .z-10 {
  animation: sparkle 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    color: #ffffff;
    text-shadow: 0 0 5px #9B723B, 0 0 10px #9B723B;
  }
  50% {
    color: #9B723B;
    text-shadow: 0 0 20px #9B723B, 0 0 30px #9B723B;
  }
}

.leadership-class-text {
  animation: pulse 3s infinite;
  transition: all 0.3s ease;
}

.group:hover .leadership-class-text {
  animation: pulse 1.5s infinite;
}

.group:hover .z-0 {
  animation: glow 3s infinite;
}

@keyframes glow {
  0%, 100% { opacity: 0.5; }
  50% { opacity: 0.75; }
}

.font-pixelify {
  font-family: 'Pixelify Sans', sans-serif;
}
